<h2>My Gear</h2>

<%= link_to "Back to main page", root_path, class:"btn btn-primary"%>
<%# <% @gears.each do |gear| %>
  <%# <div class="cards">
    <div class="card-body">
      <%= link_to gear.name, gear_path(gear) %>
      <%# <%= render gear %>
    <%# </div>
  </div>
<% end %>
