<div class="page-container">
    <div class="about-section">
      <h1>About</h1>
      <h2>Our Team</h2>
      <p></p>
      <style>
      h1 {text-align: center;}
      h2 {text-align: center;}
      p {text-align: center;}
      </style>
      <body>
        Discover the adventurer in you.
      </body>
      <p></p>
      <strong><p>Book your Sport Gear now!</p></strong>
    </div>

    <div class="container-about">
      <div class="row d-flex justify-content-around">
          <div id="my-image1">
        <p>No matter where your adventure leads you - on water, snow, land, or maybe even catching some air, you'll be able to find your Sport Gear with amazing communities with the latest equipment. Whether you're skate boarding on Le Wagon's park, riding your bike in Chapultepec, or lifting weights at the gym, Exclusive Sports Gear with Rent Away will make your next adventure unforgettable!</p>
        </div>
          <div id="my-image2">
        <p>We are a sports equipment rental company dedicated to supplying the best equipment based on your favorite sports activities. We enable our clients & friends to rent high quality Sport Gear for an individual period of time.
          Our Le Wagon team is here for you!</p>
          </div>
          <div id="my-image3">
      <p>With our top-notch selection of well-maintained sports equipment, your satisfaction with Exclusive Sport Rentals is virtually guaranteed. If you're looking for a truly memorable adventure without the hassle of bulky sports equipment ownership, Exclusive Sport Rentals will provide you with an outstanding experience, each and every time.</p>
          </div>
      </div>
    </div>

    <div class="about-us-container">
      <button type="button" class="btn about-us-button">Contact</button>
    </div>
</div>
