

<div class="about-section">
  <h1>About Us Page</h1>
  <style>
  h1 {text-align: center;}
  h2 {text-align: center;}
  p {text-align: center;}
  </style>
  <body>
    We are a sports equipment rental company dedicated to supplying the best equipment based on your favorite sports activities.
  </body>
  <p></p>
  <strong><p>Book yours now!</p></strong>
</div>

<div class="about-section">
  <h2>Our Team</h2>
  <p>On this website everyone has the opportunity to rent out their private Sport Gear equipment. This website enables our clients & friends to rent high quality Sport Gear for an individual period of time.</p>
</div>

<div class="container">
  <div class="row d-flex justify-content-around">
      <div id="my-image1"><button></button></div>
      <div id="my-image2"><button></button></div>
      <div id="my-image3"><button></button></div>
  </div>
</div>
