
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rent Sport Gear</title>
  <style>
  h1, h2{

  }
</style>
</head>
<body>
<p><img src="https://unsplash.com/photos/jc1HznBmXLU?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink" alt="sportsgear"></p>
</body>
<h1>Pages#home</h1>
<p>Discover the latest products. Pick them and return them for free!</p>
<p>Find me in app/views/pages/home.html.erb</p>
<h2></h2>
<h3></h3>
<%= yield %>
</html>
