.mapboxgl-ctrl-geocoder {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: 2px solid #00e78c;
  width: 100%;
}

.mapboxgl-ctrl-geocoder--input {
  color: #fcfcfc !important;
}
