.banner {
  background-size: cover;
  background-position: center;
  height: 900px;
  padding: 200px 0;
  // margin-top: 50px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("defaultbanner");
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.user-show {
  background-size: cover;
  background-position: center;
  height: 100vh;
  // margin-top: 50px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("defaultbanner");
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
}

.ushow-container {
align-items: center;
justify-content: center;
height: 800px;
margin-top: 200px;
}
