.btn-paco {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #00e78c;
  color: #00e78c;
  margin-bottom: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn-paco:hover {
  border: 2px solid #03c97b;
  color: #03c97b;
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-alfo {
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn-alfo:hover {
  border: 2px solid grey;
  color: grey;
  background-color: rgba(3, 6, 9, 0.3);
}

.btn-home {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid white;
  color: white;
  margin-bottom: 3px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: large;
}

.btn-home:hover {
  border: 2px solid whitesmoke;
  color: whitesmoke;
  background-color: rgba(9, 6, 3, 0.3);
}

.search-bar {
  border-radius: 25px;
  border: 2px solid #00e78c;
  background-color: rgba(0, 0, 0, 0.1);
}

.details-nologin {
  margin-left: 150px;
  margin-bottom: 15px;
}

.details-login-d {
  margin-left: 80px;
  margin-bottom: 15px;
}

.details-login-b {
  margin-left: 30px;
  margin-bottom: 15px;
}

.details-show {
  margin-bottom: 15px;
}

.search-bar:focus {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #00e78c;
  color: #fcfcfc;
}

.btn-expand {
  width: 250px;
  margin-left: 460px !important;
}
