.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
}

.navbar-lewagon {

  justify-content: space-between;
  background: white;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.page-container{
  margin-top: 80px;
  margin-bottom: 120px;
}

.home-page {
  background-image: url(../../images/LogoFun.png);
  background-size: cover;
}
