.gear-info {
  background-color: rgba(149, 149, 149, 0.15);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
}

.container-show {
  margin-top: -220px;
  margin-bottom: 90px;
  margin-left: 30px;
}

.banner-show {
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-left: -100px;
}

// .image-gear-show {
//   position: absolute;
//   margin-top: -80px;
// }

.photo {
  width: 650px;
  object-fit: cover;
  margin-top: -100px;
}

.gear-links {
  margin-left: 150px;
}
